<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="loader" id="loader"></div>
    <div class="pulse-text" id="pulse-text">PULSE</div>
    <div class="wrapper">
        <div class="title">Login Form</div>
        <div class="form-container">
            <div class="form-inner">
                <form id="login-form" method="POST" action="{{ url_for('login') }}">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        {{ form.username.label }}
                        {{ form.username(class_="form-control") }}
                    </div>
                    <br>
                    <div class="field">
                        {{ form.password.label }}
                        {{ form.password(class_="form-control") }}
                    </div>

                    <br>

                    {% if message %}
                        <div class="alert" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}

                    <div class="pass-link"><a href="#">Forgot password?</a></div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        {{ form.submit(class_="btn btn-primary") }}
                    </div>
                    <div class="signup-link">
                        Not a member? <a href="{{ url_for('register') }}">Signup now</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
