<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="loader" id="loader"></div>
    <div class="pulse-text" id="pulse-text">PULSE</div>
    <div class="wrapper">
        <div class="title">Signup Form</div>
        <div class="form-container">
            <div class="form-inner">
                <form method="POST" action="{{ url_for('register') }}">
                    {{ form.hidden_tag() }}
                    <div class="field">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class_="form-control") }}
                    </div>
                    <br>
                    <div class="field">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class_="form-control") }}
                    </div>
                    <br>
                    <div class="field">
                        {{ form.confirm_password.label(class="form-label") }}
                        {{ form.confirm_password(class_="form-control") }}
                    </div>
                    <br>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        {{ form.submit(class_="btn btn-primary") }}
                    </div>
                    <div class="signup-link">
                        Already a member? <a href="{{ url_for('login') }}">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>
